@model ProjectsModel
@{
    ViewData["Title"] = "Проекты";
}

<form asp-action="Projects" asp-controller="User" method="get">
    <div class="d-inline-block">
        <input style="min-height: 35px; width:60%" name="name" type="text" placeholder="Название риска..." />
        <button type="submit">Найти</button>
    </div>
    <table class="table-responsive" style="height:400px; margin-top:25px; padding-bottom:25px">
        <tr>
            <th style="user-select:none;">
            </th>
            <th style="user-select:none;">
                Название проекта:
            </th>
            <th style="user-select:none;">
                Дата начала:
            </th>
            <th style="user-select:none;">
                Дата конца:
            </th>
        </tr>
        @foreach (ProjectsModel pr in ViewBag.Projects)
        {
            <tr>
                <td style="user-select:none; text-align:left; min-width:300px">
                    <div class="d-inline-block">
                        <button asp-controller="User" asp-action="Risks" name="projectId" value="@(pr.ID)">Посмотреть риски</button>
                    </div>
                </td>
                <td style="user-select:none; text-align:left; min-width:400px">
                    @pr.Name
                </td>
                <td style="user-select:none; text-align:left; min-width:150px">
                    @pr.Start_Date.ToShortDateString()
                </td>
                <td style="user-select:none; text-align:left; min-width:150px">
                    @pr.End_Date.ToShortDateString()
                </td>
            </tr>
        }
    </table>

</form>

