@model UserModel

<div>
    <h1>
        Мой профиль
    </h1>
</div>
    
<ul class="MORDER">
    <li>
        Ваше имя -
        @Model.Name
    </li>
    <li>
        Ваша фамилия -
        @Model.Surname
    </li>
    <li>
        Ваша профессия -
        @Model.Profession.Name
    </li>
</ul>

