@model ProfessionModel
@{
    ViewData["Title"] = "Профессии";
}

<form asp-action="DeleteProfession" asp-controller="Admin" method="post">
    <div class="text-center">
        <table class="table-responsive" style="height:400px; margin-top:25px; padding-bottom:25px">
            <tr>
                <th style="user-select:none;">
                    Список профессий:
                </th>
            </tr>
            @foreach (ProfessionModel pr in ViewBag.Professions)
            {
                <tr>
                    <td style="user-select:none; text-align:left; min-width:600px">
                        <button class="btnLesh" type="submit" name="id" value="@pr.ID">Удалить</button>
                      
                        @pr.Name

                    </td>
                </tr>
            }
            
        </table>
    </div>
</form>

<form asp-action="Professions" asp-controller="Admin" method="post">
    <div class="text-center" style="font-size:14px;">
        <input style="min-height: 35px" asp-for="Name" type="text" placeholder="Новая профессия..." />
        <button class="btnLesh" type="submit">Добавить</button>
    </div>
</form>


